//- template for the main page
extends layout

block content

  main
    section#intro-text
      span Simple Kitchen
      h3 Simple & Comforting <br> Recipes All Year Round
      p Pan-seared chicken, Grill shrimp, mac & cheese—need we say more?
    
      //- Uncomment the following lines if needed
      //- p.success SUCCESS
      //- p.error ERROR
      //- p.warning WARNING
      button.submit-button View Recipes

    section#intro-image
      img(src='images/louisiana-barbecued-shrimp.webp', alt='Louisiana Barbecued Shrimp')

  footer
  | &copy; Copyright 2021