//- template for the register page with `form.pug` included
extends layout 

block content
  main
    section#intro-text
      span Simple Kitchen
      h3 Simple & Comforting <br> Recipes All Year Round
    section#reg-form
        include ./form.pug